<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Econth CRM App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
     <ion-list id="sidenav">
    <!-- other menu items will go here -->
      <ion-item (click)="menuItemHandler()">Main Menu</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
      <!-- other menu items will go here -->
       <ion-item (click)="menuItemHandler()">Main Menu</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
      <ion-item submenu-item *ngIf="showSubmenu">Sub menu item</ion-item>
    </ion-list>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)"><i class="fa {{p.icon}} fa-lg"></i> {{p.title}}</button>
    </ion-list>

   
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <p>Parthiban</p>
      <ion-buttons end>
        <button ion-button icon-right color="danger">
          Logout <ion-icon md="md-log-out" name="log-out"></ion-icon>
        </button>
      </ion-buttons> 
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
