<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Econth CRM App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let p of pages;let i=index">
      <button ion-item (click)="openPage(p,i)" id="menu_{{p.id}}"><i class="fa {{p.icon}} fa-lg"></i> {{p.title}}</button>
       <ion-list id="sidenav" *ngFor="let sub of p.children" >
           <button ion-item submenu-item *ngIf="showSubmenu"> {{sub.title}}</button>
       </ion-list>
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <p>Parthiban</p>
      <ion-buttons end>
        <button ion-button icon-right color="danger">
          Logout <ion-icon md="md-log-out" name="log-out"></ion-icon>
        </button>
      </ion-buttons> 
    </ion-toolbar>
  </ion-footer>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
